.user_avatar {
  display: block;
  width: 40px;
  height: 40px;
  border: solid 3px #3f51b5;
  border-radius: 50%;
}

.user_name {
  display: block;
  margin: auto 10px auto 10px;

  height: 20px;
  margin-left: 2px;
  font-size: 18px;
}

.logout_button {
  display: block;
  margin: auto 0;
  margin-right: 5px;
  width: 70px;
  height: 30px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  background-color: #3f51b5;

  border: none;
  cursor: pointer;
}
